# Creating commercial dataset

Performing check on image folders for the commercial dataset to (a) determine if dataset matches folder distribution and (b) create dataset containing the image unique ID and the predictions created by the finetuned clip model.

In [1]:
import os

In [2]:
import pandas as pd

In [4]:
path = '/home/theo/robot_images/images_by_class/validation/'

In [5]:
folders = os.listdir(path)

In [6]:
df = []
for folder in folders:
    files = os.listdir(path+folder)
    for file in files:
        df.append({'folder': folder, 'filename': file})

In [8]:
df = pd.DataFrame(df)

In [9]:
df

                                      folder       filename
0                        class_Mysterious AI  139716097.jpg
1                        class_Mysterious AI  139716088.jpg
2                    class_None of the above  139674805.jpg
3                    class_None of the above  139675342.jpg
4                     class_Thinking machine  139722757.jpg
...                                      ...            ...
22475                       class_Complex AI  139689554.jpg
22476  class_Learning or recognition machine  139715503.jpg
22477  class_Learning or recognition machine  139689692.jpg
22478     class_Acting or Performing machine  139722773.jpg
22479     class_Acting or Performing machine  139722766.jpg

[22480 rows x 2 columns]

## Merging with clip predictions

In [10]:
predictions = pd.read_pickle('predictions_commercial.pkl')

In [11]:
len(df), len(predictions)

(22480, 22480)

In [12]:
df = df.reset_index()

In [14]:
df

       index                                 folder       filename
0          0                    class_Mysterious AI  139716097.jpg
1          1                    class_Mysterious AI  139716088.jpg
2          2                class_None of the above  139674805.jpg
3          3                class_None of the above  139675342.jpg
4          4                 class_Thinking machine  139722757.jpg
...      ...                                    ...            ...
22475  22475                       class_Complex AI  139689554.jpg
22476  22476  class_Learning or recognition machine  139715503.jpg
22477  22477  class_Learning or recognition machine  139689692.jpg
22478  22478     class_Acting or Performing machine  139722773.jpg
22479  22479     class_Acting or Performing machine  139722766.jpg

[22480 rows x 3 columns]

In [15]:
predictions

,index,predictions,folder_validation
0,0,class_Mysterious AI,class_Mysterious AI
1,1,class_Mysterious AI,class_Mysterious AI
2,2,class_Acting or Performing machine,class_None of the above
3,3,class_Learning or recognition machine,class_None of the above
4,4,class_None of the above,class_Thinking machine
...,...,...,...
22475,22475,class_Thinking machine,class_Complex AI
22476,22476,class_Thinking machine,class_Learning or recognition machine
22477,22477,class_Thinking machine,class_Learning or recognition machine
22478,22478,class_Acting or Performing machine,class_Acting or Performing machine
22479,22479,class_Complex AI,class_Acting or Performing machine

In [16]:
results = df.merge(predictions)

In [17]:
results

,index,folder,filename,predictions,folder_validation
0,0,class_Mysterious AI,139716097.jpg,class_Mysterious AI,class_Mysterious AI
1,1,class_Mysterious AI,139716088.jpg,class_Mysterious AI,class_Mysterious AI
2,2,class_None of the above,139674805.jpg,class_Acting or Performing machine,class_None of the above
3,3,class_None of the above,139675342.jpg,class_Learning or recognition machine,class_None of the above
4,4,class_Thinking machine,139722757.jpg,class_None of the above,class_Thinking machine
...,...,...,...,...,...
22475,22475,class_Complex AI,139689554.jpg,class_Thinking machine,class_Complex AI
22476,22476,class_Learning or recognition machine,139715503.jpg,class_Thinking machine,class_Learning or recognition machine
22477,22477,class_Learning or recognition machine,139689692.jpg,class_Thinking machine,class_Learning or recognition machine
22478,22478,class_Acting or Performing machine,139722773.jpg,class_Acting or Performing machine,class_Acting or Performing machine
22479,22479,class_Acting or Performing machine,139722766.jpg,class_Complex AI,class_Acting or Performing machine

In [19]:
results.to_csv('predictions_dataset.csv',index=False)
results.to_pickle('predictions_dataset.pkl')